*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.header{
    width: 100%;
    height: 100vh;
    background-image: url(brown\ cardi.jpg);
    background-position: center;
    background-size: cover;
    color: #ffff;
    padding: 0 7%;
    position: relative;
}
.navbar{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 0 10px;
}
.logo{
    margin-top: 0%;
    font-weight: bolder;
    font-style: italic;
    font-size: 35px;
    color: chocolate;
    width: 80px;
    cursor: pointer;
}
.navbar ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 30px;   
}
.navbar ul li a{
    text-decoration: none;
    color: #FFFFFF;
    font-size: 18px;
    letter-spacing: 1px;
}
.navbar ul li a:hover{
    color: chocolate;
}
.text{
    margin-top: 20%;
    font-size: 25px;
}
.text h1{
    font-size: 80px;
    font-weight: bolder;
    line-height: 100px;
    margin-bottom: 10px;
}

.text .details{
    outline: none;
    border: none;
    font-size: 15px;
    margin-top: 30px;
    background: chocolate;
    color: #FFFFFF;
    padding: 15px 40px;
    cursor: pointer;
}
.download{
    position: absolute;
    right: 8%;
    bottom: 66px;
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 22px 44px;
    border-radius: 45px;
    color: #FFFFFF;
    transition: background 0.5s;
}
.download img{
    width: 22px;
    margin-left: 16px;
    animation: move 3s linear infinite;
}
@keyframes move{
    0%{
        transform: translateY(-8px);
    }
    50%{
        transform: translateY(8px);
    }
    100%{
        transform: translateY(-8px);
    }

}
.download:hover{
    background: chocolate;
}